<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="site_pessoal" content="width=device-width, initial-scale=1.0">
    <title> Aplicativos Disponíveis </title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/custom_css.css" rel="stylesheet" />
</head>
<body>
    <header>
      <div class="px-3 py-2 text-bg-dark navbar-custom border-bottom mb-3">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap gap-3">
          <form class="d-flex align-items-center" role="search">
            <input type="search" class="form-control w-100 m-2" placeholder="Pesquisar..." />
            <img src="../assets/images/search.svg" class="custom-search m-1" width="40" height="40" alt="search">
          </form>
          <div class="d-flex">
            <button type="button" class="btn btn-light custom-btn-login m-2">Entrar</button>
            <button type="button" class="btn btn-primary custom-btn-register m-2">Cadastrar-se</button>
          </div>
          <nav id="navegação" class="nav-masthead d-flex justify-content-center gap-3">
            <a href="../index.html" class="nav-link text-white text-center">
              <img src="../assets/images/home_deactivated.svg" width="24" height="24" alt="Home">
              <div>Página Inicial</div>
            </a>
            <a class="nav-link active text-white text-center">
              <img src="../assets/images/apps_activated.svg" width="24" height="24" alt="Apps">
              <div class="text-active">Apps</div>
            </a>
            <a class="nav-link text-danger text-center">
              <img src="../assets/images/coming_soon.svg" width="24" height="24" alt="Em breve">
              <div>Em breve...</div>
            </a>
            <a class="nav-link text-danger text-center">
              <img src="../assets/images/coming_soon.svg" width="24" height="24" alt="Em breve">
              <div>Em breve...</div>
            </a>
            <a class="nav-link text-danger text-center">
              <img src="../assets/images/coming_soon.svg" width="24" height="24" alt="Em breve">
              <div>Em breve...</div>
            </a>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> Aplicativos Disponiveis </h1>
            <p class="lead text-body-secondary">Descubra as funcionalidades diponíveis!</p>
          </div>
        </div>
      </section>
      <div class="album py-5 bg-body-tertiary">
        <div class="container-fluid justify-content-center">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div id="Wild Rift" class="col">
              <div class="card shadow-sm">
                <div class="card-body">
                  <p class="card-text">
                    Cansado de ser monochamp e quer se divertir? <br> Escolha um campeão aleatório do Wild
                    Rift, explore diferentes personagens e
                    estilos de jogo.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"> Escolher campeões </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary"> Tier List </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    </footer>

<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>