<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Aplicativos Disponíveis </title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/css/custom_css.css" rel="stylesheet"/>
</head>
<body>
    <header>
      <div class="px-3 py-2 text-bg-dark navbar-custom custom-border mb-3">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap gap-3">
          <div class="d-flex">
            <input type="search" class="form-control w-100 m-2" placeholder="Pesquisar..." />
            <button type="button" class="btn btn-light custom-btn-login m-2">Entrar</button>
            <button type="button" class="btn btn-primary custom-btn-register m-2">Cadastrar-se</button>
          </div>
          <nav id="navegação" class="nav-masthead d-flex justify-content-center gap-3">
            <a href="../index.html" class="nav-link text-white text-center">
              <img src="../assets/images/home_deactivated.svg" width="24" height="24" alt="Home">
              <div>Página Inicial</div>
            </a>
            <a class="nav-link active text-white text-center">
              <img src="../assets/images/apps_activated.svg" width="24" height="24" alt="Apps">
              <div class="text-active">Apps</div>
            </a>
            <a class="nav-link text-danger text-center">
              <img src="../assets/images/coming_soon.svg" width="24" height="24" alt="Em breve">
              <div>Em breve...</div>
            </a>
            <a class="nav-link text-danger text-center">
              <img src="../assets/images/coming_soon.svg" width="24" height="24" alt="Em breve">
              <div>Em breve...</div>
            </a>
            <a class="nav-link text-danger text-center">
              <img src="../assets/images/coming_soon.svg" width="24" height="24" alt="Em breve">
              <div>Em breve...</div>
            </a>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <img src="../assets/images/coming_soon_2.svg" width="200" height="200" alt="Em construção" class="mb-4">
            <h1 class="fw-light"> Em Construção... </h1>
            <p class="lead text-body-secondary"> Ainda estou terminando as planilhas/dashboards, em breve terá algumas coisas por aqui!</p>
          </div>
        </div>
      </section>
    </main>

<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>