/* Main/Global */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #313131;
}


/* Barra de navegação */

.custom-border {
    border-bottom: 5px solid #626262; /* cor personalizada */
}

.navbar-custom {
  background-color: #050A30;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.text-active {
  color: #7EC8E3;
}

.custom-btn-register {
  background-color: #b1d4e0;
  color: #0C2D48;
  border: none;
}

.custom-btn-register:hover {
  background-color: #7EC8E3;
  border: none;
}

.custom-btn-login {
  background-color: #fff;
  color: #0C2D48;
  border: none;
}

.custom-btn-login:hover {
  background-color: #7EC8E3;
  border: none;
}

.custom-search {
  border-radius: 20px;
  border: none;
}


/* Customizações Opcionais */

.custom-background-gray {
  background-color: #626262;
}

.custom-text-white {
  color: #fff;
}

.custom-text-white-bold {
  color: #fff;
  font-weight: bold;
}

.custom-text-gray-title {
  color: #616161;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
}

.custom-btn-github {
  background-color: #050A30;
  color: #fff;
  border: none;
  width: 100%;
  height: auto;
}